{% extends "base.html" %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="hp-container">
    <main class="hp-content">
        <div class="hp-xp-bar">
            <div class="hp-xp-fill" style="width: {{ user.percent }}%;"></div>
            <span class="hp-xp-label">{{ user.xp|round(1) }} XP</span>
        </div>

        {% if user.xp < 10 %}
        {% set img_index = 1 %}
        {% elif user.xp < 20 %}
        {% set img_index = 2 %}
        {% elif user.xp < 35 %}
        {% set img_index = 3 %}
        {% elif user.xp < 50 %}
        {% set img_index = 4 %}
        {% elif user.xp < 80 %}
        {% set img_index = 5 %}
        {% else %}
        {% set img_index = 6 %}
        {% endif %}

        {% if img_index == 1 %}
        {% set maxh = 50 %}
        {% elif img_index == 2 %}
        {% set maxh = 100 %}
        {% elif img_index == 3 %}
        {% set maxh = 150 %}
        {% elif img_index == 4 %}
        {% set maxh = 225 %}
        {% elif img_index == 5 %}
        {% set maxh = 325 %}
        {% else %}
        {% set maxh = 400 %}
        {% endif %}

        <div class="hp-tree">
            <img
                    src="{{ url_for('static', path='images/' ~ img_index ~ '.png') }}"
                    alt="Stage {{ img_index }}"
                    style="max-height: {{ maxh }}px;"
            />
        </div>

        {% if user.xp >= 80 %}
        <form method="post" action="{{ url_for('update_user_xp') }}?xp_amount=0" class="complete-form">
            <button type="submit" class="complete-btn">Tamamla</button>
        </form>
        {% endif %}

        <div class="hp-bottom-container">
            <p class="hp-subtitle">
                My photosynthesis is going great; turn off the light and I’ll really thrive.
            </p>
            <div class="hp-search">
                <input type="text" placeholder="Little sprout, how are you today?"/>
                <button>
                    <img class="hp-search-send-icon" src="{{ url_for('static', path='images/send-icon.png') }}"
                         alt="Gönder"/>
                </button>
            </div>
            <button class="hp-take-mission">
                <img class="hp-take-mission-img" src="{{ url_for('static', path='images/take-mission.png') }}"
                     alt="Gorev Al"/>
                <p class="hp-take-mission-label">Görev Al</p>
            </button>
        </div>
    </main>
</div>
{% endblock %}
