{% extends "base.html" %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="hp-container">
    <main class="hp-content">
        <div class="hp-xp-bar">
            <div class="hp-xp-fill" style="width: {{ user.percent }}%;"></div>
            <span class="hp-xp-label">{{ user.xp|round(1) }} XP</span>
        </div>

        <div class="hp-tree">
            <img
                    src="{{ url_for('static', path='images/trees/' ~ user.plant_stage ~ '.png') }}"
                    alt="{{ user.plant_stage }}"
            />
        </div>
        <div class="hp-bottom-container">
            <p class="hp-subtitle">
                My photosynthesis is going great; turn off the light and I’ll really thrive.
            </p>
            <div class="hp-search">
                <input type="text" placeholder="Little sprout, how are you today?"/>
                <button>
                    <img class="hp-search-send-icon" src="{{ url_for('static', path='images/send-icon.png') }}"
                         alt="Gönder"/>
                </button>
            </div>
            <button class="hp-take-mission">
                <img class="hp-take-mission-img" src="{{ url_for('static', path='images/take-mission.png') }}"
                     alt="Gorev Al"/>
                <p class="hp-take-mission-label">Görev Al</p>
            </button>
        </div>
    </main>
</div>
{% endblock %}
